/* General CSS for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* Main CSS rules */

body {
    background-color:#b2f8aa;
}

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.banner-pic-main {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

#bean_soup {
    width: auto;
    max-height: 700px;
    border-radius: 15px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.recipes {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#bean_soup_recipe {
    border-radius: 5px;
}

li {
    padding: 3px;
}

footer {
    text-align: center;
    padding: 10px 10px 20px 10px;
}

/* Responsive CSS */

@media only screen and (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
  }